@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

select,
::picker(select) {
  appearance: base-select;
}

.title {
  font-weight: 800;
  background-image: linear-gradient(225deg,
      #89CFF0,
      #7b4dff,
      #1b8ee0);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aurora 8s ease-in-out infinite alternate;
}

@keyframes aurora {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 100% center;
  }
}


@layer utilities {
  .shadow-fancy {
    box-shadow:
      inset 0 2px 4px #ffffff30,
      0 4px 8px #00000030,
      0 8px 14px #00000015;
  }
}