---
import useTranslations from "@utils/i18n";
import { Icon } from "astro-icon/components";

const t = useTranslations(Astro.currentLocale || "es");

const cvUrl =
  Astro.currentLocale == "es"
    ? "/cv/Anthony Volquez - Desarrollo de Software.pdf"
    : "/cv/Anthony Volquez - Software Development.pdf";
---

<section
  id="home"
  class="bg-[linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/hero-opacity.webp')]
    bg-cover bg-center bg-fixed
    h-screen flex flex-col justify-center items-center"
>
  <div class="text-center px-4">
    <h2 class="text-zinc-50 text-lg sm:text-xl md:text-2xl font-bold">
      {t("hero.greetings")}
    </h2>

    <div class="m-6 sm:m-8 md:m-10">
      <h1
        class="title text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-extrabold"
      >
        FullStack
      </h1>

      <h2
        class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white"
      >
        Developer
      </h2>
    </div>

    <p
      class="text-white text-base sm:text-lg md:text-xl lg:text-2xl max-w-xl mx-auto"
      set:html={t("hero.description")}
    />

    <div class="flex justify-center mt-6 gap-4 w-full">
      <a
        class="w-15 h-15 rounded-full bg-white/15 flex items-center justify-center
            backdrop-blur-sm hover:bg-white/25 transition transform hover:-translate-y-1 cursor-pointer"
        href="https://github.com/Anthony-2003"
        target="_blank"
      >
        <Icon name="github" size={35} color="white" />
      </a>
      <a
        class="w-15 h-15 rounded-full bg-white/15 flex items-center justify-center
            backdrop-blur-sm hover:bg-white/25 transition transform hover:-translate-y-1 cursor-pointer"
        href={Astro.currentLocale == "en"
          ? "https://www.linkedin.com/in/anthony-volquez/?locale=en_US"
          : "https://www.linkedin.com/in/anthony-volquez"}
        target="_blank"
      >
        <Icon name="linkedin" size={35} color="white" />
      </a>
    </div>
  </div>

  <a
    class="mt-6 p-4 h-15 text-white rounded-full font-bold bg-white/15 flex items-center justify-center
            backdrop-blur-sm hover:bg-white/25 transition transform hover:-translate-y-1 cursor-pointer"
    target="_blank"
    href={cvUrl}
  >
    <Icon name="download" size={15} color="white" class="mr-1" />
    {t("hero.cvButton")}
  </a>
</section>
